@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    ;
}
a{
    text-decoration: none;
    color: #E1E5EE;
}

body{
    background-color: #242321;
    color: #E1E5EE;
    display:grid;
    overflow: scroll;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #242321;
}

.logo{
    font-size: 3vh;
    color: #E1E5EE;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.coach{
    color: #E9D758;
    font-size: 2.5vh;
}
.logo:hover, .coach{
    cursor:pointer;
    color: #E9D758;
    
}


.navbar a{
    font-size: 2vh;
    color: #f1faee;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    line-height: 46px;
    animation: slideTop 1s ease forwards;
}

.navbar a:hover, .navbar a.active{
    color: #E9D758;
}

#menu-icon{
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideTop 2s ease forwards;
}

.home-content{
    max-width: 70vh;
    max-height: calc(100vh - 400px);
    display:inline;
}

.home-content h3{
    font-size: 3vh;
}

.home-content h3 span{
    color: #E9D758;
}

.home-content h1{
    font-size: 6vh;
    font-weight: 700;
    margin: -3px;
}

h3.developer{
    margin-bottom: 30px;
}

.home-content p{
    font-size: 22px;
}

.home-img img{
    width: 40vw;
    margin: 0 auto;
    animation: slideimg 2s ease forwards;
    animation: floatimg 4s ease-in-out infinite;
}
.social-media{
    display: flex;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #E9D758;
    border-radius: 50%;
    font-size: 20px;
    color: #E9D758;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.social-media a:hover{
    background-color: #E9D758;
    color: #242321;
}

.bton{
    margin: 15px;
    display: inline-block;
    padding: 12px 28px;
    background: #E9D758;
    border-radius: 30px;
    font-size: 18px;
    color: #242321;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideSocialMedia 1s ease forwards;
    animation-delay: 1s;
}

.bton:hover{
    transition: .3s ease;
    background-color: #161513;
    color: #E9D758;
}
.About{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1917;
}

.about-dev{
    color: #E9D758;
    font-size:30vh;
    text-align: right;
    animation: floatimg 4s ease-in-out infinite;
}

.about-content{
    max-width: 50%;
    font-size: 22px;
    text-align: left;
}

.heading{
    font-size: 4.5vh;
}

.about-content .developer{
    color: #e2cf3e;
}

.about-content h2 span{
    color: #E9D758;
}

.typing-3{
    align-items: center;
    color: #E9D758;
}

.skills .heading{
    text-align: center;
    color: #E9D758;
}

.skill-container{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.skill-container .skill-box{
    text-align: center; 
    flex: 1 1 30rem;
    background: #1a1917;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    border: .2rem solid transparent;
    transition: .5s ease;
}
.skill-container .skill-box:hover{
    border-color: #E9D758;
}

.skill-box i{
    font-size: 8vh;
    color: #E9E6FF;
}

.skill-box p{
    font-size: 1.8vh;
}

.skill-box h2{
    font-size: 3vh;
}

.skill{
    align-items: center;
    justify-content: center;
}

.portfolio{
    background-color: #1a1917;
}

.portfolio h2{
    text-align: center;
    color: #E9D758;
}

.contact .heading{
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.contact .heading span{
    color: #E9D758;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box #datos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #E1E5EE;
    border-radius: .8rem;
    border: none;
    margin: .7rem 0;
    background-color: #1a1917;
}

input[type=number] { -moz-appearance:textfield; }
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .bton{
    margin-top: 2rem;
    cursor: pointer;
    border: none;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: #1a1917;
}

.footertext{
    font-size: 1rem;
}

.footericontop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: #E9D758;
    text-decoration: none;
    border-radius: .8rem;
}

.footericontop a i{
    font-size: 1.6rem;
    color: #161513;
}

.footericontop:hover{
    transition: .5s;
    background-color: #e2cf3e; 
}



section{
    min-height: 100vh;
    width: 100%;
    padding: 10rem 9% 2rem;
}




@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSocialMedia{
    0%{
        transform: translateY(-20px) translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slideimg{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatimg{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(1);
    }
}

@keyframes Navingbar{
    0%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0);
    }
}


@media only screen and (max-width: 900px) {

    #menu-icon{
        display: block;
        transition: 0.5s ease;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #242321;
        display: none;
        border-bottom: solid 4px #161513;
        box-shadow: 0 .5rem 1rem #161513;
    }
    .navbar.active{
        display: block;
        animation: Navingbar ease 0.5s;
    }

    .navbar a{
        display: block;
        font-size: 2.7vh;
        margin: 3rem 0;
    }
    .header{
        padding: 2rem 3%;
    }

    .home{
        flex-direction: column;
    }

    .home-content p{
        font-size: 2vh;
        width: 60%;
    }

    .home-img img{
        width: 100vw;
        margin-top: 10rem;
    }

    .About{
        flex-direction: column-reverse;
    }

    .about-dev{
        font-size: 30vw;
    }

    .about-content{
        font-size: 2vh;
    }

    section{
        padding:  10rem 3% 2rem;
    }

    .footer{
        padding: 2rem  3%;
    }

    .footericontop{
        margin-left: 15em;
    }
    
}